DATABASE_URL="postgresql://neondb_owner:npg_PXiUnJd52uOk@ep-old-bonus-adquvxzm-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=3000
JWT_SECRET=""
OPENAI_API_KEY=""
WHATSAPP_TOKEN=""
WHATSAPP_PHONE_ID=""
WHATSAPP_VERIFY_TOKEN=""
STRIPE_SECRET_KEY=""
BASE_URL=""
